<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.cohourt8th.repository.MenuImageRepository">
    <select id="findAllByMenuId" resultType="MenuImage">
        SELECT * FROM MENU_IMAGE
        WHERE MENU_ID = #{id}
    </select>
</mapper>
