<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aside</title>
    <style>
        /* 언어 선택 및 지구본 아이콘 스타일 */
        .language-select {
            display: flex;
            align-items: center;
            margin-left: auto; /* 오른쪽으로 정렬 */

        }

        .language-select img {
            width: 16px; /* 지구본 아이콘 크기 */
            height: auto;
            margin-right: 5px; /* 아이콘과 셀렉트 박스 사이 간격 */
        }

        .language-select select {
            font-size: 11px;
            height: 16px;
            width: auto;
        }
    </style>
    <link href="/css/reset.css" rel="stylesheet">
</head>
<body>
<!-- 지구본 아이콘 -->
<div class="language-select">
    <img src="/image/earth.svg" alt="earth"/>
    <select name="languages" id="lang">
        <option value="English">English</option>
        <option value="Korean">Korean</option>
    </select>
</div>
</body>
</html>