<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개설하기</title>

</head>

<body>

<aside>
    <header>
        <h1>일정추가</h1>
        <button onclick="closeModal()">
            <img src="/image/host/close.svg" alt="닫기">
        </button>
    </header>

    <form method="post" action="/submit-dates">
        <section>
            <h1>프로그램</h1>
            <label>
                프로그램을 선택하세요
                <select name="program-title">
                    <option>한복입고 북촌 인기 카페...</option>
                    <option>청계천 광장시장과 힙지로에서 저녁...</option>
                    <option>연희동 도자기공방과 인기 카페...</option>
                </select>
            </label>
        </section>

        <section>
            <h1>진행일 선택</h1>

            <div>
                <button type="button" id="prev-month">&lt;</button>
                <div>
                    <span id="year">2024</span>
                    <span id="month">9</span>
                </div>
                <button type="button" id="next-month">&gt;</button>
            </div>

            <section>
                <h1>요일</h1>

                <div>Mo</div>
                <div>Tu</div>
                <div>We</div>
                <div>Th</div>
                <div>Fr</div>
                <div>Sa</div>
                <div>Su</div>

                <!-- 첫째 주 -->
                <div><input type="checkbox" id="day-29" disabled><label for="day-29">29</label></div>
                <div><input type="checkbox" id="day-30" disabled><label for="day-29">29</label></div>
                <div><input type="checkbox" id="day-31" disabled><label for="day-29">29</label></div>
                <div><input type="checkbox" id="day-1" disabled><label for="day-29">29</label></div>
                <div><input type="checkbox" id="day-2" disabled><label for="day-29">29</label></div>
                <div><input type="checkbox" id="day-3" disabled><label for="day-29">29</label></div>
                <div><input type="checkbox" id="day-4" disabled><label for="day-29">29</label></div>

                <!-- 둘째 주 -->
                <div><input type="checkbox" id="day-5" disabled><label for="day-5">5</label></div>
                <div><input type="checkbox" id="day-6" disabled><label for="day-6">6</label></div>
                <div><input type="checkbox" id="day-7" disabled><label for="day-7">7</label></div>
                <div><input type="checkbox" id="day-8" disabled><label for="day-8">8</label></div>
                <div><input type="checkbox" id="day-9" disabled><label for="day-9">9</label></div>
                <div><input type="checkbox" id="day-10" disabled><label for="day-10">10</label></div>
                <div><input type="checkbox" id="day-11" disabled><label for="day-11">11</label></div>

                <!-- 셋째 주부터 활성화 -->
                <div><input type="checkbox" id="day-12"><label for="day-12">12</label></div>
                <div><input type="checkbox" id="day-13"><label for="day-13">13</label></div>
                <div><input type="checkbox" id="day-14"><label for="day-14">14</label></div>
                <div><input type="checkbox" id="day-16"><label for="day-16">16</label></div>
                <div><input type="checkbox" id="day-17"><label for="day-17">17</label></div>
                <div><input type="checkbox" id="day-18"><label for="day-18">18</label></div>

                <div><input type="checkbox" id="day-19"><label for="day-19">19</label></div>
                <div><input type="checkbox" id="day-20"><label for="day-20">20</label></div>
                <div><input type="checkbox" id="day-21"><label for="day-21">21</label></div>
                <div><input type="checkbox" id="day-22"><label for="day-22">22</label></div>
                <div><input type="checkbox" id="day-23"><label for="day-23">23</label></div>
                <div ><input type="checkbox" id="day-24"><label for="day-24">24</label></div>
                <div><input type="checkbox" id="day-25"><label for="day-25">25</label></div>

                <div><input type="checkbox" id="day-26"><label for="day-26">26</label></div>
                <div><input type="checkbox" id="day-27" disabled><label for="day-27">27</label></div>
                <div><input type="checkbox" id="day-28"><label for="day-28">28</label></div>
                <div><input type="checkbox" id="day-29-alt"><label for="day-29-alt">29</label></div>
                <div><input type="checkbox" id="day-30-alt"><label for="day-30-alt">30</label></div>
                <div><input type="checkbox" id="day-31-alt" disabled><label for="day-31-alt">31</label>
                </div>
            </section>
        </section>

        <button type="submit">확인</button>

    </form>
</aside>
</body>
</html>
