<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필터</title>
</head>

<body>
<aside>
    <header>
        <h1>필터</h1>
        <button onclick="closeModal()"><img src="/image/host/close.svg" alt="닫기"></button>
    </header>
    <div>
        <div>카테고리</div>
        <div><img src="/image/host/init.svg" alt="초기화">초기화</div>
    </div>

    <form>
        <input type="hidden" name="hostId" th:value="${hostId}">
        <ul>
            <li><label><input type="checkbox" name="category" value="Activity"> Activity</label></li>
            <li><label><input type="checkbox" name="category" value="Culture"> Culture</label></li>
            <li><label><input type="checkbox" name="category" value="Shopping"> Shopping</label></li>
            <li><label><input type="checkbox" name="category" value="Food"> Food</label></li>
            <li><label><input type="checkbox" name="category" value="Nature"> Nature</label></li>
        </ul>
        <button type="submit" class="confirm-btn">확인</button>
    </form>
</aside>
</body>
</html>
