/* 전체 헤더 스타일 */
/*body{
    display: flex;
}*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;

    /*width: 100%; !* 전체 화면 너비로 설정 *!*/
    height: 70px;
    background: #FFFFFF;
    z-index: 0;
}

/* 서비스 로고 스타일 */
.logo img {
    width: 137px; /* 로고 이미지의 크기 조정 */
    height: 40px;
}

/* 언어 선택 및 지구본 아이콘 스타일 */
.language-select {
    display: flex;
    align-items: center;
    margin-left: auto; /* 오른쪽으로 정렬 */

}

.language-select img {
    width: 16px; /* 지구본 아이콘 크기 */
    height: auto;
    margin-right: 5px; /* 아이콘과 셀렉트 박스 사이 간격 */
}

.language-select select {
    font-size: 11px;
    height: 16px;
    width: auto;
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
    margin-left: 20px; /* 언어 선택과의 간격 */
}

.menu-icon img {
    width: 24px; /* 햄버거 메뉴 아이콘 크기 */
    height: auto;
}

/* h1 스타일 */
h1 {
    display: none;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
}