<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout}"
>
<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 탭</title>
    <link rel="stylesheet" href="/css/host/create-parties.css"/>
</head>

<body>
<main layout:fragment="main">
    <h1>인원 탭</h1>

    <div class="menu-tab">
        <h1>인원 탭 활성화 메뉴</h1>
        <a href="#" class="menu-tab-item">기본정보</a>
        <a href="#" class="menu-tab-item">일정</a>
        <a href="#" class="menu-tab-item">장소</a>
        <a href="createCount" class="menu-tab-item active">인원</a>
        <a href="createCost" class="menu-tab-item">비용</a>
        <a href="#" class="menu-tab-item">사진</a>
    </div>

    <div>
        <h1>인원 선택</h1>

        <form>
            <fieldset th:method="post" class="member-count">
                <legend>최소 인원</legend>
                <select name="min-count" id="min-count">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p>명</p>
            </fieldset>
        </form>


        <form>
            <fieldset class="member-count">
                <legend>최대 인원</legend>
                <select name="min-count" id="max-count">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p>명</p>
            </fieldset>
        </form>

    </div>

    <p class="warning">* 본인을 제외한 인원 수를 입력하세요.</p>

    <div class="button-box">
        <button>이전</button>
        <button>임시저장</button>
        <button>다음</button>
    </div>

</main>
</body>
</html>
