<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<aside>
    <div><a href="">exit</a></div>
    <h1 class="display:none">호스트 로그인 aside</h1>

    <section class="host-profile">
        <h1 class="display:none">호스트 프로필</h1>
        <div><img src="" alt="호스트 프로필 사진"></div>
        <div>
            <p>호스트 닉네임</p>
            <a href="">프로필 관리</a>
        </div>
    </section>

    <nav class="host-menu-container">
        <ul>
            <li><a href="">호스트 홈</a></li>
            <li><a href="">프로그램 생성</a></li>
            <li><a href="">프로그램 목록</a></li>
            <li><a href="">프로그램 예약현황</a></li>
            <li><a href="">리뷰</a></li>
            <li><a href="">Chat</a></li>
            <li><a href="">알림</a></li>
        </ul>
    </nav>

    <nav class="help-container">
        <ul>
            <li><a href="">공지사항</a></li>
            <li><a href="">자주 묻는 질문</a></li>
        </ul>
    </nav>

    <div><a href="">로그아웃</a></div>

    <div class="language-select">
        <select name="languages" id="lang">
            <option value="English">English</option>
            <option value="Korean">Korean</option>
        </select>
    </div>
</aside>

</body>
</html>