<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haru Seoul</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>

<main layout:fragment="main" class="container">
    <!-- First Image -->
    <div class="image-container">
        <img src="image/home-guest.png" alt="introduction for guest" class="image">
        <a href="" class="button">1day 서울러 되러가기</a>
    </div>

    <!-- Second Image -->
    <div class="image-container">
        <img src="image/home-host.png" alt="introduction for host" class="image">
        <a href="" class="button">5분만에 호스트 되러가기</a>
    </div>

    <div class="content">
        <p class="content-title">Haru Seoul은 외국인들에게 서울에서 현지인의 삶을 직접 체험할 수 있는 하루를 제공합니다.</p>
        <p class="content-main">
            단순한 관광이 아니라 서울 시민처럼 대중교통을 이용하고, 길거리 음식을 맛보고, 전통시장이나 동네 카페를 방문하거나, 서울의 숨은 명소들을 체험하는 프로그램을 제공합니다.</p>
    </div>
</main>

</body>
</html>