<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>HaruSeoul</title>
</head>
<body>
    <main layout:fragment="main">
        메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.메인입니다.
    </main>
</body>
</html>
